<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
    <meta charset="utf-8">
    <title>HopeFull: Registration</title>
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet" /><link>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/">
      <img src="/hopefulllogo.png" style="width:350px">
    </a>
    <h1>Connecting amazing volunteers to  wonderful opportunities</h1>
      
    <p>Help fill the community with hope. Don't stop until each child is full.</p>
      <span class="glyphicon glyphicon-leaf" style="width:50px"></span>
  </div>
</div>

    
    
    
    
<!--
    
<form id="loginformA" action="/register" method="POST">
    <div>
        <label for="username">Username: </label>
        <input type="text" id="username" name="username"></input>
        <label for="password">Password: </label>
        <input type="password" name="password"></input>
    </div>
<input type="submit" value="Submit"></input>
</form>
-->


    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="span5">
                    <div class="area">
                        <form id="loginformA" action="/register" method="POST">
                            <h3 class=alert>Volunteer Registration</h3>
                            <fieldset>
                                <label for="UserInfo_Email">Email:</label>
                                <input id="username" name="username" type="text" value="">
                                <p></p>
                                <label for="UserInfo_FirstName">First name:</label>
                                <input id="UserInfo_FirstName" name="UserInfoFirstName" type="text" value="">
                                <p></p>
                                <label for="UserInfo_LastName">Last name:</label>
                                <input id="UserInfo_LastName" name="UserInfoLastName" type="text" value="">
                                <p></p>
                                <label for="UserInfo_Password">Password:</label>
                                <input id="password" name="password" type="text" value="">
                                <p></p>
                                <h4> Tell us your skills and areas of interests </h4>
                                <div>
                                    <label class="checkbox inline">
                                <input type="checkbox" value="">
                                Cooking
                            </label>
                                    <label class="checkbox inline">
                                <input type="checkbox" value="">
                                Sorting Collected Food Items
                            </label>
                                </div>
                                <div>
                                    <label class="checkbox inline">
                                <input type="checkbox" value="">
                                Serving Food
                            </label>
                                    <label class="checkbox inline">
                                <input type="checkbox" value="">
                                Assisting Clerical Works
                            </label>
                                </div>
                                <div>
                                    <label class="checkbox inline">
                                <input type="checkbox" value="">
                                Transporting Donated Food / Produce from Local Business
                            </label>
                                </div>
                                <div>
                                    <label class="checkbox inline">
                                <input type="checkbox" value="">
                                Computer Skills
                            </label>
                                    <label class="checkbox inline">
                                <input type="checkbox" value="">
                                Fund Rasing
                            </label>
                                </div>
                                <div>
                                    <label class="checkbox inline">
                                <input type="checkbox" value="">
                                Working as a Group
                            </label>
                                    <label class="checkbox inline">
                                <input type="checkbox" value="">
                                Working One-on-One
                            </label>
                                </div>
                                <div>
                                    <label class="checkbox inline">
                                <input type="checkbox" value="">
                                Working with Children
                            </label>
                                    <label class="checkbox inline">
                                <input type="checkbox" value="">
                                Working with Elderly
                            </label>
                                </div>
                                <h4> Tell us your availability </h4>
                                <div>
                                    <label class="checkbox inline">
                                <input type="checkbox" value="">
                                Flexible
                            </label>
                                    <label class="checkbox inline">
                                <input type="checkbox" value="">
                                Weekends
                            </label>
                                    <label class="checkbox inline">
                                <input type="checkbox" value="">
                                Weekdays
                            </label>
                                </div>
                                <div>
                                    <label class="checkbox inline">
                                <input type="checkbox" value="">
                                Mornings
                            </label>
                                    <label class="checkbox inline">
                                <input type="checkbox" value="">
                                Afternoons
                            </label>
                                    <label class="checkbox inline">
                                <input type="checkbox" value="">
                                Evenings
                            </label>
                                </div>
                                <p> </p>
                                <input type="submit" value="Sign Up!" class="btn btn-primary" />
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div class="span6">
                    <div class="span6">
                        <div class="area">
                            <form class="form-horizontal">
                                <div class="heading">
                                    <h3 class=alert>Hunger Organization Registration</h3>
                                    <fieldset>
                                        <label for="UserInfo_Email">Email:</label>
                                        <input id="UserInfo_Email" name="UserInfo.Email" type="text" value="">
                                        <p></p>
                                        <label for="UserInfo_OrgName">Organization name:</label>
                                        <input id="UserInfo_OrgName" name="UserInfo.OrgName" type="text" value="">
                                        <p></p>
                                        <label for="UserInfo_Password">Password:</label>
                                        <input id="UserInfo_Password" name="UserInfo.Password" type="text" value="">
                                        <p></p>
                                        <h4> Tell us your needs </h4>
                                        <div>
                                            <label class="checkbox inline">
                                            <input type="checkbox" value="">
                                                Cooking
                                            </label>
                                            <label class="checkbox inline">
                                            <input type="checkbox" value="">
                                                Sorting Collected Food Items
                                            </label>
                                            <label class="checkbox inline">
                                            <input type="checkbox" value="">
                                                Serving Food
                                            </label>
                                        </div>
                                        <div>
                                            <label class="checkbox inline">
                                            <input type="checkbox" value="">
                                                Transporting Produce / Food from Local Business or Farm
                                            </label>
                                        </div>
                                        <div>
                                            <label class="checkbox inline">
                                            <input type="checkbox" value="">
                                                Assisting Clerical Works
                                            </label>
                                        </div>
                                        <h4> When you need help? </h4>
                                        <div>
                                            <label class="checkbox inline">
                                            <input type="checkbox" value="">
                                            Flexible
                                            </label>
                                            <label class="checkbox inline">
                                            <input type="checkbox" value="">
                                            Weekends
                                            </label>
                                            <label class="checkbox inline">
                                            <input type="checkbox" value="">
                                            Weekdays
                                            </label>
                                        </div>
                                        <div>
                                            <label class="checkbox inline">
                                            <input type="checkbox" value="">
                                            Mornings
                                            </label>
                                            <label class="checkbox inline">
                                            <input type="checkbox" value="">
                                            Afternoons
                                            </label>
                                            <label class="checkbox inline">
                                            <input type="checkbox" value="">
                                            Evenings
                                            </label>
                                        </div>
                                        <p> </p>
                                        <input type="submit" value="Sign Up!" class="btn btn-primary" />
                                    </fieldset>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
</body>
</html>
