<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>Sign In page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <style type="text/css">

    </style>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div>
        <img src="img/power-of-volunteerism.jpg" width=100% height=25%/>
    </div>
    <div class="hero-unit">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="span5">
                        <div class="area">
                            <form class="form-horizontal" action="/login" method="POST">
                                <div class="heading">
                                    <h3 class="breadcrumb">Volunteer Sign In</h3>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="inputEmailAddress">Username:</label>

                                    <div class="controls">
                                        <input id="username" type="text" name="username">
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="inputPassword">Password</label>

                                    <div class="controls">
                                        <input id="password" type="password" name="password">
                                    </div>
                                </div>

                                <div class="control-group">
                                    <div class="controls">
                                        <label class="checkbox">
                                    <input type="checkbox">
                                        Keep me signed in
                                    </label>
                                        <button class="btn btn-success" type="submit">Sign In</button>
                                        <button class="btn btn-danger" type="button">Register</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="span6">
                        <div class="area">
                            <form class="form-horizontal">
                                <div class="heading">
                                    <h3 class="breadcrumb">Hunger Relief Organization Sign In</h3>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputEmailAddress">Email address</label>
                                    <div class="controls">
                                        <input id="inputUsername" type="text">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputPassword">Password</label>
                                    <div class="controls">
                                        <input id="inputPassword" type="password">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="checkbox">
                                    <input type="checkbox">
                                        Keep me signed in
                                    </label>
                                        <button class="btn btn-success" type="submit">Sign Up</button>
                                        <button class="btn btn-danger" type="button">Register</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
<div class="container">
  <div class="alert alert-info text-center" role="alert">
  <% if (!message) {%>
      <% var message = "" }%>    
  <span><%= message %></span>
  </div>
        </div>
        <script type="text/javascript">
        </script>
    </div>
</body>

</html>