<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 500px;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 500px;
        margin: 10px;
        padding: 0;
      }
    </style>
</head>

<body>

  <% include ../partials/nav.ejs %>
<div id="map"></div>
    <% var googleMapsAPIKey = key; %>
    <script>
        var key = '<%= googleMapsAPIKey %>';
        console.log(key);
        var map;
        var source = "https://maps.googleapis.com/maps/api/js?key=" + key + "&callback=initMap";
        console.log(source);
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 39.749017, lng: -75.546201},
                zoom: 14
            });
            //load eligible areas using geoJson
            //map.data.loadGeoJson("http://data-cacfp-sfsp.opendata.arcgis.com/datasets/8f9699f00a274314823fcb832581b7cf_0.geojson");
            //map.data.loadGeoJson('https://storage.googleapis.com/mapsdevsite/json/google.json');
            //map.data.addGeoJson(data);
            
            var sodaUrl = "https://data.delaware.gov/resource/72wj-gmav.json";
            var array = [];
            var length;
            var b = $.getJSON(sodaUrl, function(rawData) {
                for (var i=0; i<rawData.length; i+=2) {
                    if (rawData[i+1] && rawData[i]) {
                        if (rawData[i+1].schoolname!=rawData[i].schoolname) {
            //                console.log ("YOU MESSED UP");
            //                console.log (rawData[i+1].schoolname);
            //                console.log (rawData[i].schoolname);
            //                console.log ("----");
                            i=i-1;
                        } else {
                            if (rawData[i+1].studentcount/rawData[i].studentcount > 0.5) {
                                //console.log(rawData[i+1].schoolname);
                                //console.log(rawData[i+1].studentcount/rawData[i].studentcount);
                                array.push(rawData[i+1]);
                            }
                        }
                    }
                }
                array.forEach(function(obj) { obj.lat = 0; obj.lng=0; });
                console.log(array.length);

//                length = array.length;
                            //console.log(array);
            //console.log(Object.keys(array).length);
            //console.log(length);

            })


            var directoryUrl = "https://data.delaware.gov/resource/2efz-9zk3.json";
            var schools = $.getJSON(directoryUrl, function(school) {
            //    console.log("AHAHHAHAHAHA");
            //    console.log(school.length);
                for(var j=0; j<school.length; j++) {
                    //console.log(j);
                    //console.log(school[j].schoolname);
                       for (let k=0; k<array.length;k++) {
                           if (school[j].schoolname==array[k].schoolname) {
                               //console.log("FOUND");
                               array[k].lat = school[j].geocoded_location.latitude;
                               array[k].lng = school[j].geocoded_location.longitude;
                               
                               //console.log(school[j].geocoded_location);
                           }
                       }
                }
                
                for (var loc=0; loc < array.length; loc++) {
                    (function() {
                        var myLat = parseFloat(array[loc].lat);
                        var myLng = parseFloat(array[loc].lng);
                        var myLatLng = {lat: myLat, lng: myLng};
                        console.log(myLatLng);
                        var image;
                        var shape;
                        if (loc%2==0) {
                            image = {url: "/server/res/pot0.png"};
                            shape = {
                                coords: [0,0,40,40],
                                type: 'rect'
                            };
                        } else if (loc%3==0) {
                            image = {url: "/server/res/pot1.png"};
                            shape = {
                                coords: [0,0,30,51],
                                type: 'rect'
                            };
                        } else {
                            image = {url: "/server/res/pot2.png"};
                            shape = {
                                coords: [0,0,30,50],
                                type: 'rect'
                            };
                        }

                        var marker = new google.maps.Marker({
                          position: myLatLng,
                          map: map,
                            icon:image,
                            shape:shape,
                          title: 'Hello World!',
                            zIndex: 50,
                            clickable: true
                        });

                        let contentString = '<div id="content">'+
                '<div id="siteNotice">'+
                '</div>'+
                '<h3 id="firstHeading" class="firstHeading">'+array[loc].schoolname+'</h3>'+
                '<div id="bodyContent">'+
                '<p><b>Volunteer hours</b>: M <b>T</b> W <b>R</b> F S U</p>'+
                '<p>    T: 5:00PM - 8:00PM </p>'+
                '<p>    R: 5:00PM - 8:00PM </p>'+
                '<p><b>Services Needed</b>: </p>'+ '<p><ul><li>Summer Meal Program</li><li>Web developer</li>'
                + '</ul>  </p>' + '<ul class="pager"><li>' +
                            '<button style="display: flex; justify-content: center;" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>  Volunteer </button>'+
                '</li></ul>' +
                '</div>'+
                '</div>';

                        marker.info = new google.maps.InfoWindow({
                            content: contentString
                        });
                        let clicks=0;
                        marker.addListener('click', function() {
                            console.log(marker)
                            if (clicks%2===0) {
                                marker.info.open(map, marker);
                            } else {
                                marker.info.close(map, marker);
                                if (marker.icon.url === "/server/res/pot0.png") {
                                    marker.setVisible(false);
                                    image = "/server/res/pot1.png";
                                    marker = new google.maps.Marker({
                                      position: myLatLng,
                                      map: map,
                                        icon:image,
                                        shape:shape,
                                      title: 'Hello World!',
                                        zIndex: 60
                                    });
                            }
                            }
                            clicks++;

                        });
                    })();
                     }
            })
            
           
        }
        
        
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCY97GZ5imTZDqE6BFxdmX7ODJQVBlW5mA&callback=initMap";
    async defer></script>
    <script src="server/data/map.js"></script>
    
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>LOGIN</h1>
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"><span class="glyphicon glyphicon-flash"></span> Getting Started with Node</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/node-js-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<form id="loginformA" action="/login" method="POST">
    <div>
        <label for="username">Username: </label>
        <input type="text" id="username" name="username"></input>
        <label for="password">Password: </label>
        <input type="password" name="password"></input>
    </div>
<input type="submit" value="Submit"></input>
</form>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
  <% if (!message) {%>
      <% var message = "" }%>    
  <span><%= message %></span>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
      <ul>
        <li>This app was deployed to Heroku, either using Git or by using <a href="https://github.com/heroku/node-js-getting-started">Heroku Button</a> on the repository.</li>

        <li>When Heroku received the source code, it fetched all the dependencies in the <a href="https://github.com/heroku/node-js-getting-started/blob/master/package.json">package.json</a>, creating a deployable slug.</li>
        <li>The platform then spins up a dyno, a lightweight container that provides an isolated environment in which the slug can be mounted and executed.</li>
        <li>You can scale your app, manage it, and deploy over <a href="https://addons.heroku.com/">150 add-on services</a>, from the Dashboard or CLI.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
      <ul>
        <li>If you are following the <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">Getting Started</a> guide, then please head back to the tutorial and follow the next steps!</li>
        <li>If you deployed this app by deploying the Heroku Button, then in a command line shell, run:</li>
        <ul>
          <li><code>git clone https://github.com/heroku/node-js-getting-started.git</code> - this will create a local copy of the source code for the app</li>
          <li><code>cd node-js-getting-started</code> - change directory into the local source code repository</li>
          <li><code>heroku git:remote -a &lt;your-app-name></code> - associate the Heroku app with the repository</li>
          <li>You'll now be set up to run the app locally, or <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs#push-local-changes">deploy changes</a> to Heroku</li>
        </ul>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://www.heroku.com/home">Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/">Heroku Dev Center</a></li>
        <li><a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">Getting Started with Node on Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/articles/deploying-nodejs">Deploying Node Apps on Heroku</a></li>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy your own apps.
  </div>
</div>


</body>
</html>
